################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CountrySea/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
